################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/roscos.slnx/FileContentIndex/45dc7446-f446-49a6-afec-274769175d41.vsidx
/.vs/roscos.slnx/FileContentIndex/d09f8f7f-23ea-4b15-944e-ee9da4e6548f.vsidx
/render-only-sample/.vs/Ros/FileContentIndex/ea405a90-df26-445e-89e2-400d709a604c.vsidx
/render-only-sample/.vs/Ros/FileContentIndex/7562c591-c2f0-4622-9eb7-b8afe82de5f2.vsidx
/render-only-sample/.vs/Ros/FileContentIndex/fa70d609-c9ab-41ad-ba59-3139351d7c93.vsidx
/render-only-sample/.vs/Ros/FileContentIndex/3512c7c9-9c42-481d-bc68-0b7b6e37ded4.vsidx
