################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/roscos.slnx/FileContentIndex/45dc7446-f446-49a6-afec-274769175d41.vsidx
